.pages {
    display: none;
}

#create-character {
    display: none;
}

.images {
    width: 200px;
}



* {
    color: blue;
    font-weight: bold;
}



#logo {
    height: 100px;
    width: 100%;
    margin: center;
}

body {
    background-color: #dbb6ff;
    background-repeat: no-repeat;
    margin: center;
    width: 700px;
}