
* {
    color: blue;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

body {
    background-color: #dbb6ff;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    /* padding: top 0, left  */
    /* position: relative; */
}

.background{
    position:absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #dbb6ff;
    z-index: -10;
}

.pixel-container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width:100% !important;
    margin-bottom: 5em;
    display: none !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dbb6ff;
    text-align: center;
}

main {
    margin-left: 20px;
}

#login{
    padding: 100px
}

#main {
    padding: 100px;
}


.pages, h4#alien {
    display: none;
}

#create-character {
    display: none;
}

.images {
    width: 200px;
}

#logo {
    height: 100px;
    width: 700px;
    margin: center;
}

.logo {
    
}


h2{
    text-align: center;
}

.container {
    text-align: center;
}

.row{
    position: right;
}

